<%- include("./partials/head.ejs") %>
  <body>
    <!-- Navbar (sit on top) -->
  <%- include("./partials/nav.ejs") %>

    <!-- Header -->
   
<%- include("./partials/header.ejs") %>
    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= productoSeleccionado.nombre %></h1>
          <br />
          <h4>><%= productoSeleccionado.detalle %></h4>
          <p class="ps-text-grey">
            U$S <%= productoSeleccionado.precio %>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, tempora odit placeat ratione maiores ad vel repellendus magni numquam cum corrupti repudiandae. Fugit reprehenderit nobis dolorum architecto, voluptatum consequuntur voluptates.
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img src="<%= productoSeleccionado.imagen %>"
               class="ps-round ps-image ps-opacity-min"
               alt="Menu"
          />
      </div>
      
      </div>


      

      <!-- Footer -->
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
